.container {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.header {
  text-align: center;
  font-size: var(--size-5xl);
}

.authContainer {
  display: flex;
  justify-content: space-around;
  width: 80%;
  margin-top: var(--size-base);
}

.circleContainer {
  overflow: hidden;
  white-space: nowrap;
  /* position: relative; */
  display: flex;
}

.circleText {
  /* animation: slide-in 2s linear infinite; */
  /* height: 200px; */
  display: inline-flex;
  justify-content: center;
  align-items: center;
  padding-right: 2rem; 
  white-space: nowrap;
}

@keyframes slide-in {
  0% {
    transform: translate3d(calc(0% * -1),0,0)
  }
  100% {
    transform: translate3d(calc(-100% - 0%),0,0)
  }
}
