.container {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.header {
  text-align: center;
  font-size: var(--size-5xl);
  color: var(--theme-primary);
}

.authContainer {
  display: flex;
  justify-content: space-around;
  width: 80%;
  margin-top: var(--size-base);
}

.circleContainer {
  overflow: hidden;
  white-space: nowrap;
  display: flex;
  margin-top: var(--size-base);
}

.circleText {
  animation: slide-in 3s linear infinite;
  padding-right: var(--size-lg);
  white-space: nowrap;
  font-size: var(--size-3xl);
}

.descriptionContainer {
  padding: var(--size-lg) var(--size-base);
  margin-top: var(--size-base);
  font-size: var(--size-2xl);
  color: var(--card-text-color);
  background-color: var(--card-background-color);
  border-radius: 10px;
}

.descriptionContainer p {
  margin-bottom: var(--size-base);
}

@keyframes slide-in {
  0% {
    transform: translate3d(calc(0% * -1), 0, 0);
  }
  100% {
    transform: translate3d(calc(-100% - 0%), 0, 0);
  }
}
