.cardContainer {
  background-color: var(--card-background);
  padding: var(--size-4xl) var(--size-6xl);
  border-radius: var(--card-radius);
  color: var(--theme-secondary);
  display: flex;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  margin-bottom: var(--size-base);
}

.cardContainer h3 {
  font-weight: 500;
  margin-bottom: var(--size-base);
}

.dateDisplay {
  background-color: var(--theme-secondary);
  color: var(--theme-primary);
  margin: 0 auto var(--size-xs);
  width: 30%;
  border-radius: var(--card-radius);
  padding: 5px 0;
  font-size: var(--size-xs);
}
