.container {
  background-color: var(--card-background);
  padding: var(--size-sm);
  border-radius: var(--card-radius);
  /* display: flex; */
}

.heading {
  color: var(--theme-secondary);
  font-size: var(--size-xl);
  margin-bottom: var(--size-lg);
}

.partOfHeading {
  color: var(--theme-gray);
}
